/* =========================
   Events
========================= */

.events {
  width: 100%;
  padding: 0 0 96px;
  background-color: var(--color-white);
}

.events--online {
  padding-top: 0;
}

.events__container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.events__top {
  margin-bottom: 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events__title-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.events__title {
  margin: 0;

  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark);
}

.events__location {
  min-height: 44px;
  padding: 8px 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: var(--radius-small);
  background-color: var(--color-location-bg);

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-primary);
  text-decoration: none;
}

.events__location-icon {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
  object-fit: contain;
}

.events__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-primary);
  text-decoration: none;
}

.events__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  row-gap: 40px;
}

.event-card {
  width: 100%;
}

.event-card__image-box {
  width: 100%;
  height: 153px;
  margin-bottom: 12px;

  overflow: hidden;
  border-radius: var(--radius-small);
  background-color: var(--color-light-bg);
}

.event-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.event-card__title {
  margin: 0 0 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-dark);
}

.event-card__category {
  margin: 0 0 12px;

  color: var(--color-gray);
}

.event-card__date {
  margin: 0 0 8px;
}

.event-card__date,
.event-card__info,
.event-card__info-item {
  display: flex;
  align-items: center;
}

.event-card__date,
.event-card__category,
.event-card__info-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.event-card__date,
.event-card__info-item {
  gap: 6px;
  color: var(--color-dark);
}

.event-card__info {
  gap: 16px;
}

.event-card__icon {
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}

/* =========================
   Events adaptive
========================= */

@media (max-width: 1280px) {
  .events {
    padding-left: 24px;
    padding-right: 24px;
  }

  .events__grid {
    column-gap: 28px;
  }
}

@media (max-width: 1024px) {
  .events__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .events__top {
    align-items: flex-start;
    gap: 16px;
  }

  .events__title-box {
    flex-wrap: wrap;
  }

  .events__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .events {
    padding: 0 16px 64px;
  }

  .events__top {
    margin-bottom: 20px;
  }

  .events__title {
    font-size: 24px;
    line-height: 32px;
  }

  .events__location {
    min-height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .events__link {
    display: none;
  }

  .events__grid {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
@media (max-width: 430px) {
  .events__top {
    margin-bottom: 20px;
  }

  .events__title-box {
    gap: 8px;
  }

  .events__title {
    font-size: 20px;
    line-height: 24px;
  }

  .events__location {
    min-height: 30px;
    padding: 4px 8px;

    gap: 8px;

    font-size: 14px;
    line-height: 20px;
  }

    .events__location-icon {
    width: 12px;
    height: 12px;
  }
}